{% extends '_base.html' %} 


{% block content %}
<div class="row rounded content-bg-color px-2 pb-4">
    <div class="col-lg-4 col-md-12">
        <form id="comment_form" action="{% url 'comments:add' %}" method="post" class="sticky-lg-top pt-4">
            {% csrf_token %}

            {{ form.as_div }}

            <div class="mt-3 text-center">
                <input type="submit" value="Add comment" class="btn btn-lg btn-success">
            </div>
        </form>
    </div>

    <div class="col-lg-8 col-md-12">
        <div 
            id="ordering" 
            class="content-between py-4 sticky-top content-bg-color"
        >
            <!-- Dropdown list "Order by" -->
            <div class="dropdown">
                <button
                    aria-expanded="false"
                    data-bs-toggle="dropdown"
                    class="btn btn-primary btn-lg dropdown-toggle"
                >
                    Order by
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a 
                            id="order-by-u"
                            class="dropdown-item" 
                            href="./?orderby=u&orderdir={{ request.GET.orderdir }}"
                        >
                            Username
                        </a>
                    </li>
                    <li>
                        <a 
                            id="order-by-e"
                            class="dropdown-item" 
                            href="./?orderby=e&orderdir={{ request.GET.orderdir }}"
                        >
                            Email
                        </a>
                    </li>
                    <li>
                        <a 
                            id="order-by-c"
                            class="dropdown-item" 
                            href="./?orderby=c&orderdir={{ request.GET.orderdir }}"
                        >
                            Created datetime
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Sort order -->
            <div class="btn-group btn-group-lg">
                <a 
                    class="btn btn-primary"
                    href="./?orderby={{ request.GET.orderby }}&orderdir=asc" 
                >
                    Ascending
                </a>
                <a 
                    class="btn btn-primary"
                    href="./?orderby={{ request.GET.orderby }}&orderdir=desc" 
                >
                    Descending
                </a>
            </div>
        </div>

    {% for comment in page_obj %}
        <div class="mt-4">
            <div
                class="review rounded p-2 mb-1 bg-secondary text-white content-between"
            >
                <div class="content-center">
                    <ion-icon 
                        class="me-2"
                        name="person-circle" 
                    ></ion-icon>
                    <b>{{ comment.author.username }}</b>
                </div>
                {{ comment.created |date:"d.m.Y | H:i" }}
            </div>
            <div class="content-between">
                <p class="mb-0">{{ comment.text }}</p>
                <a
                    href="#comment_form"
                    class="btn btn-info btn-sm"
                >
                    Answer
                </a>
            </div>
        </div>
    {% empty %}
        <div role="alert" class="alert alert-primary">
            <div class="d-flex align-items-center">
                <div class="me-3">
                    <ion-icon name="alert-circle"></ion-icon>
                </div>
                <div class="w-100 content-center overflow-auto">
                    <h5>There are not any comments yet</h5>
                </div>
            </div>
        </div>
    {% endfor %}

    {% if page_obj.paginator.num_pages > 1 %} 
        {% if "page" in request.GET.urlencode %}
            {% include 'comments/utils/_pagination_nav.html' with page_obj=page_obj other_get_parameters=request.GET.urlencode|slice:"7:" only %}
        {% else %}
            {% include 'comments/utils/_pagination_nav.html' with page_obj=page_obj other_get_parameters=request.GET.urlencode only %}
        {% endif %} 
    {% endif %}
    </div>
</div>
{% endblock content %} 


{% block scripts %}
{% load static %}
<script defer src="{% static 'js/comments/ordering.js' %}"></script>
<script defer src="{% static 'js/comments/resize_pagination.js' %}"></script>
{% endblock scripts %} 
